@media screen and (min-width: 769px) {
    #quien h1, #quien p{
        color: #fff;
    }

    .menu-toggle{
		display: none;
	}

    #menuPrincipal{
        height: 40px;
        text-align: right;
        font-size: 2rem;
        
        position: absolute;
        top: 15px;
        right: 20%;
    }

    .opcion{
        display: inline;

    }
    .opcion:hover{
        background-color: #fff;
        border-radius: 100%;
        color: rgb(255, 154, 154);
    
    }


}
